body{
	/*background-color: DeepPink;*/
	color:black;
	text-transform: capitalize;

}
/*table{
	border: solid 2px black;

}*/
p{
	text-align: center;
}
tr {
	padding: 0 10px;
	max-height: 60px;
	max-width: 100px;
}

tr .photo_url img{
	max-height: 40px;
	width: 40px;
}

tr .photo_url, tr .user_id, tr .name, tr .session_token{
	padding: 10px;
}
th{
	margin:10px;
}