body{
	background-color: deepPink;
}

.head{
	background-color: peachpuff;

}
.photo_url{
	display:inline-block;
}

h1{
	display:inline;
}

.sideUlContainer{
	max-width: 20%;
	float:left;
	background-color: pink;
	

}

