body{
	background-color: deepPink;
}

.head{
	background-color: peachpuff;
	min-height: 100px;

}
.photo_url img{
	display:inline-block;
	max-height: 100px !important;
	max-width: 100px !important;
}

h1{
	display:inline;
}

.sideUlContainer{
	max-width: 20%;
	float:left;
	background-color: pink;
	min-height: 900px;

}

ul{
	list-style: none;
	float:left;
	padding: 10px;
	
}



.container{
	/*background-color: red;*/
}

.dataRendered{
	float: right;
	min-width: 90%;
	background-color: purple;
	margin-top: 10px;
}

/*tr{
	border-bottom: 1px black solid;

}*/

/*personal styles*/

.tAc{
	text-align: center;
}

.center{
	text-align: center;
	margin: 0 auto;
}

table{
	border: 1px solid black;
}
